body {
  background-image: url('Zharkyn20.github.io/media/backgr.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

a {
  text-decoration: none;
}

img {
  border-radius: 50%;
}

.button {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: black;	
  background: rgba(255, 255, 255, 0.2);
  font-family: cursive;
  font-size: 32px;
  border: 8px solid black;
  border-radius: 16px;
  padding: 16px 30px;
}
.button:hover{
  background: rgba(22, 11, 30, 0.85);
}
.header {
  position: fixed;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

.hd_btn {
  color: black; 
  background: rgba(255, 255, 255);
  font-family: cursive;
  font-size: 16px;
  border: 3px solid rgb(0, 130, 181);
  border-radius: 16px;
  padding: 3px 6px;
}

#home {
  background-color: blue;
}

#hd_t {
  color: rgb(0, 195, 14);
  font-size: 23px;
  font-style: italic;
}

.logo {
	width: 3vw;
	height: 3vw;
}

.right {
  float: right;
}

.footer {
  color: #f1f1f1;
  width: 100%;
  height: 3vw;
  padding: 2px;
  text-align: center;
  margin-top: 30px;
}

.gmail{
    background: rgba(0, 0, 0, 0.5);
  width: 100%;
  bottom: 0;
}
.content {
background-color: rgba(0, 0, 0, 0.5);
margin: 100vh 0 0 0;
width: 100%;
text-align: center;
}

.content img{
  margin: 0 5px;
}

#style {
  font-style: italic;
  font-family: cursive;
  font-size: 32px;
  color: black;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 50px;
  top: 30px;
  left: 0;
  border: none;
  z-index: 9;
  color: black;
  font-family: all;
}

/* Add styles to the form container */
.form-container {
  max-width: 100%;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password], .form-container input[type=tel]{
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus, .form-container input[type=tel]:focus{
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: 2px solid black;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}


/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .button:hover .close-button:hover{
  opacity: 1;
}

.contacts {
  display: none;
  position: fixed;
  right: 5%;
  top: 18%;
  border: 3px dotted black;
  z-index: 9;
  color: white;
  font-family: all;
  padding: 8px 8px;
  background-color: rgba(0, 0, 255, 0.6);
}

.cancel_btn {
  border: 3px solid black;
  border-radius: 8px;
  padding: 1px 2px;
  background-color: rgba(255, 255, 255, 0.2);
}

.table-container {
  display: none;
  z-index: 9;
  max-width: 100%;
  padding: 10px;
  background-color: rgba(0, 0, 255, 0.6);
  position: fixed;
  right: 3%;
  top: 18%;
  color: white;
}

#tbody {
  font-family: cursive;
  font-style: bold;
}

.prepayment {
  display: none;
  z-index: 9;
  max-width: 100%;
  padding: 10px;
  background-color: rgba(0, 0, 255, 0.6);
  position: fixed;
  right: 3%;
  top: 18%;
  color: white;
}

#white-color {
  color: white;
}
